     <div class="pt-24 pb-24">
    <div class="container max-w-screen-xl">
      <!-- Section title 1 -->
      <div class="row justify-content-center text-center mb-20">
        <div class="col-lg-7">
          <!-- Surtitle -->
          <h5 class="h5 mb-5 text-uppercase text-red-700">
            Milestones
          </h5>
          <!-- Heading -->
          <h1 class="ls-tight font-bolder mb-5">
            STATS & ATHLETIC ACHIEVEMENTS
          </h1>
          <!-- Text -->
          <p class="lead">
            Plan, build and launch beautiful and consistent user interfaces for the web that drives meaningful engagement and growth for your brand.
          </p>
        </div>
      </div>
     <!-- Milestones -->
      <div class="row">
        <div class="col-lg-3 col-6 mb-5 mb-lg-0 text-center">
          <!-- Icon -->
         <div class="icon icon-shape icon-lg text-xl bg-red-700 text-white rounded-circle shadow-primary mb-4">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
           </svg>
        </div>
          <!-- Milestone -->
          <div class="h3 text-red-700 mb-2">
            <span>BRITISH TITLES</span>
          </div>
          <!-- Milstone label -->
          <span class="d-block h6 text-capitalize text-white">8x100m British Champion, 60m Indoor British Record Holder</span>
        </div>
        <div class="col-lg-3 col-6 mb-5 mb-lg-0 text-center">
          <!-- Icon -->
          <div class="icon icon-shape icon-lg text-xl bg-red-700 text-white rounded-circle shadow-primary mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z"/>
            </svg>
          </div>
          <!-- Milestone -->
          <div class="h3 text-red-700 mb-2">
            <span>EUROPEAN TITLES</span>
          </div>
          <!-- Milstone label -->
          <span class="d-block h6 text-capitalize text-white">60m Indoor Record Holder Sub 10 second</span>
        </div>
        <div class="col-lg-3 col-6 mb-5 mb-lg-0 text-center">
          <!-- Icon -->
          <div class="icon icon-shape icon-lg text-xl bg-red-700 text-white rounded-circle shadow-primary mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
            </svg>
          </div>
          <!-- Milestone -->
          <div class="h3 text-red-700 mb-2">
            <span>PERFORMANCES</span>
          </div>
          <!-- Milstone label -->
          <span class="d-block h6 text-capitalize text-white">Nurnberg 9.99 sec (1999), Sevilla 9.97sec (1999), Edmonton Canada 9.97/9.99sec (2001), Bergen 9.99sec (2010)</span>
        </div>
        <div class="col-lg-3 col-6 mb-5 mb-lg-0 text-center">
          <!-- Icon -->
          <div class="icon icon-shape icon-lg text-xl bg-red-700 text-white rounded-circle shadow-primary mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-globe-europe-africa" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM3.668 2.501l-.288.646a.847.847 0 0 0 1.479.815l.245-.368a.809.809 0 0 1 1.034-.275.809.809 0 0 0 .724 0l.261-.13a1 1 0 0 1 .775-.05l.984.34c.078.028.16.044.243.054.784.093.855.377.694.801-.155.41-.616.617-1.035.487l-.01-.003C8.274 4.663 7.748 4.5 6 4.5 4.8 4.5 3.5 5.62 3.5 7c0 1.96.826 2.166 1.696 2.382.46.115.935.233 1.304.618.449.467.393 1.181.339 1.877C6.755 12.96 6.674 14 8.5 14c1.75 0 3-3.5 3-4.5 0-.262.208-.468.444-.7.396-.392.87-.86.556-1.8-.097-.291-.396-.568-.641-.756-.174-.133-.207-.396-.052-.551a.333.333 0 0 1 .42-.042l1.085.724c.11.072.255.058.348-.035.15-.15.415-.083.489.117.16.43.445 1.05.849 1.357L15 8A7 7 0 1 1 3.668 2.501Z"/>
            </svg>
          </div>
          <!-- Milestone -->
          <div class="h3 text-red-700 mb-2">
            <span>WORLD TITLES</span>
          </div>
          <!-- Milstone label -->
          <span class="d-block h6 text-capitalize text-white">British masters 4x100m record holder 42.17 sec (Lee valley 2018)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 pb-5">
   <div class="container max-w-screen-xl">
      <div class="row justify-content-center text-center mb-20">
      <div class="col-md-6">
      <p class="lead text-white mileparagraph">
        Chambers returned to competition in June 2006, and won gold with his teammates in the 4×100m relay at the 2006 European Championships. 
        He tried other sports, including a spell with the Hamburg Sea Devils of the NFL Europa league and a rugby league trial with Castleford Tigers. 
        Sprinting success came over 60m when he won silver at the 2008 World Indoor Championships, gold at the 2009 European Indoors, 
        and became world champion at the 2010 World Indoor Championships.
        In the 2010 season Dwain ran under 10 seconds in Bergen for the first time in ten years clocking 9.99.
        The 2011 season started full of promise; he had lost weight, had a new training regime and was in the best shape of his career. 
        This was reflected in Dwain stringing a series of impressive times in close proximity
      </p>
      </div>
      <div class="col-md-6">
      <p class="lead mileparagraph">
        of between 10.01 and 10.08 in Brazil and Europe.
        After a series of impressive wins on the International circuit and dedication to showing true remorse for his athletics ban, 
        the Court of Arbitration for Sport overturned Dwain’s Olympic lifetime ban in 2012, deeming the decision non-compliant with the World Anti-Doping Code. 
        He then went on to compete in the 2012 London Olympics.
        Off the track Dwain set up Chambers for Sport as a platform to encourage sport and fitness amongst young people and professional athletes. 
        After qualifying as a personal trainer with Trainfitness, Dwain was determined to encourage others to progress their futures within the fitness industry.
         He now delivers motivational talks and bespoke training courses for a range of individuals, academies and teams.
      </p>
      </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container max-w-screen-xl">
        <div class="row justify-content-center text-center mb-20">
            <%= image_tag "CHAMBERSDWAIN-3-Moscow8.13.jpg" %>
        </div>
    </div>
  </div>