<!-- end side-widget -->
<nav class="navbar">
  <div class="topbar">
    <div class="container">
	  <div><b>E-mail</b><a href="#">hellow@quanca.co.uk</a></div>
	  <div><b>Phone</b>+1 653 5869</div>
	  <div><b><i class="lni lni-map-marker"></i> Location</b><a href="#">Find Gym</a> </div>
	  </div>
    <!-- end container --> 
  </div>
  <!-- end topbar -->
  <div class="container">
    <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="site-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="quanca.html">Quanca</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- end site-menu -->
    <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    <!-- end hamburher-menu -->
    <div class="navbar-button"> <a href="contact.html">JOIN NOW</a> </div>
    <!-- end navbar-button --> 
  </div>
  <!-- end container --> 
</nav>
<!-- end navbar -->