<!--====== PRICING STYLE ONE START ======-->
<section class="pricing-area pricing-one">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xxl-6 col-xl-7 col-lg-8">
            <div class="section-title text-center">
               <h2 class="mb-3 fw-bold">Other services on offer</h2>
               <p class="text-lg">

               </p>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="pricing-style-one">
               <div class="pricing-header text-center">
                  <h5 class="sub-title">Pro</h5>
                  <span class="price">£150</span>
                  <h5 class="year">per child per day</h5>
               </div>
               <div class="pricing-list">
                  <ul>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> 13-17 years old
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> capacity of 10 per day
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i>Workout hours 9-2pm
                     </li>
                  </ul>
               </div>
               <div class="pricing-btn rounded-buttons text-center">
                  <a
                     class="btn primary-btn rounded-full"
                     href="javascript:void(0)"
                     >
                  GET STARTED
                  </a>
               </div>
               <div class="bottom-shape">
                  <svg
                     data-name="Layer 1"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 350 112.35"
                     >
                     <defs>
                        <style>
                           .color-1 {
                           fill: #B91C1C;
                           isolation: isolate;
                           }
                           .cls-1 {
                           opacity: 0.1;
                           }
                           .cls-2 {
                           opacity: 0.2;
                           }
                           .cls-3 {
                           opacity: 0.4;
                           }
                           .cls-4 {
                           opacity: 0.6;
                           }
                        </style>
                     </defs>
                     <title>bottom-part1</title>
                     <g>
                        <g data-name="Group 747">
                           <path
                              data-name="Path 294"
                              class="cls-1 color-1"
                              d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 297"
                              class="cls-2 color-1"
                              d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 296"
                              class="cls-3 color-1"
                              d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 295"
                              class="cls-4 color-1"
                              d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z"
                              transform="translate(0 0)"
                              />
                        </g>
                     </g>
                  </svg>
               </div>
            </div>
            <!-- single pricing -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="pricing-style-one">
               <div class="pricing-header text-center">
                  <h5 class="sub-title">Elite</h5>
                  <span class="price">£250</span>
                  <h5 class="year">Per person per day</h5>
               </div>
               <div class="pricing-list">
                  <ul>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> 18-21 years old
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> capacity of 8 per day
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> Workout hours 9-2pm
                     </li>
                  </ul>
               </div>
               <div class="pricing-btn rounded-buttons text-center">
                  <a
                     class="btn primary-btn rounded-full"
                     href="javascript:void(0)"
                     >
                  GET STARTED
                  </a>
               </div>
               <div class="bottom-shape">
                  <svg
                     data-name="Layer 1"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 350 112.35"
                     >
                     <defs>
                        <style>
                           .color-1 {
                           fill: #2bdbdc;
                           isolation: isolate;
                           }
                           .cls-1 {
                           opacity: 0.1;
                           }
                           .cls-2 {
                           opacity: 0.2;
                           }
                           .cls-3 {
                           opacity: 0.4;
                           }
                           .cls-4 {
                           opacity: 0.6;
                           }
                        </style>
                     </defs>
                     <title>bottom-part1</title>
                     <g>
                        <g data-name="Group 747">
                           <path
                              data-name="Path 294"
                              class="cls-1 color-1"
                              d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 297"
                              class="cls-2 color-1"
                              d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 296"
                              class="cls-3 color-1"
                              d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 295"
                              class="cls-4 color-1"
                              d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z"
                              transform="translate(0 0)"
                              />
                        </g>
                     </g>
                  </svg>
               </div>
            </div>
            <!-- single pricing -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="pricing-style-one">
               <div class="pricing-header text-center">
                  <h5 class="sub-title">Pro elite</h5>
                  <span class="price">£3000</span>
                  <h5 class="year"> Per individual per week</h5>
               </div>
               <div class="pricing-list">
                  <ul>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> All ages
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> Capacity of 5 per day
                     </li>
                     <li>
                        <i class="lni lni-checkmark-circle"></i> Minimum 5 days
                     </li>
                  </ul>
               </div>
               <div class="pricing-btn rounded-buttons text-center">
                  <a
                     class="btn primary-btn rounded-full"
                     href="javascript:void(0)"
                     >
                  GET STARTED
                  </a>
               </div>
               <div class="bottom-shape">
                  <svg
                     data-name="Layer 1"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 350 112.35"
                     >
                     <defs>
                        <style>
                           .color-1 {
                           fill: #2bdbdc;
                           isolation: isolate;
                           }
                           .cls-1 {
                           opacity: 0.1;
                           }
                           .cls-2 {
                           opacity: 0.2;
                           }
                           .cls-3 {
                           opacity: 0.4;
                           }
                           .cls-4 {
                           opacity: 0.6;
                           }
                        </style>
                     </defs>
                     <title>bottom-part1</title>
                     <g>
                        <g data-name="Group 747">
                           <path
                              data-name="Path 294"
                              class="cls-1 color-1"
                              d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 297"
                              class="cls-2 color-1"
                              d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 296"
                              class="cls-3 color-1"
                              d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z"
                              transform="translate(0 0)"
                              />
                           <path
                              data-name="Path 295"
                              class="cls-4 color-1"
                              d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z"
                              transform="translate(0 0)"
                              />
                        </g>
                     </g>
                  </svg>
               </div>
            </div>
            <!-- single pricing -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== PRICING STYLE ONE ENDS ======-->