<style>
    .container-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .display-special{
        font-size: 10rem;
        font-weight: 900;
        color: #fff;
        text-shadow: 0 0 10px #fff;
    }
</style>
<div class="container-box">

<h1 class="display-special "> Coming Soon </h1>

</div>