 <div class="pt-24 pb-24">
    <div class="container max-w-screen-xl">
      <div class="section-step-lg">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Heading -->
            <h1 class="ls-tight font-bolder mb-5">
             Dwain Chambers Performance Academy
            </h1>
            <!-- Text -->
            <p class=" text-muted">
            Sprinting has been a part of Dwain’s life for more than two decades. With all this experience, he has reached a point where he wants to pass his wisdom onto the next generation of future sports stars.</p>
            <br/>
            <p class=" text-muted">
            Dwain and his team of qualified professionals will deliver all the key fundamentals on how to run in the correct way, therefore enabling those who attend the Academy, the ability to perform to their highest level.
            The Academy will run every week, over the course of three days. </p>
            <br/>
            <p class=" text-muted">
            Those who join will have the option to train up to 3 times a week. Sessions will last for a maximum of 1 hour and will be held at the Lee Valley Athletics Centre London.
            The Performance Academy will be on going throughout the entire year. Sessions will rotate within a 4-week cycle and will increase with intensity as the athletes and weeks progress.
            </p>
            <br/>
            <p class=" text-muted">
            Lifestyle mentoring and individual/group discussions will be a part of the ethos within the Academy. As the athletes develop their knowledge so must their ability to conduct themselves and set a good example to those around them.
            The Academy is open to those aged between 9-21.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="rounded shadow-4 bg-surface-primary border p-2 me-lg-5 position-relative">
              <%= image_tag "main-img.png", class:"img-fluid rounded" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container hidden">
    <div>
        <h3>SESSIONS & TIMING</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        Tuesday and Thursday 6pm-7pm
        <br/>
        Saturday 10am-11am
      </div>
    </div>
      <div>
        <h3>SESSIONS & TIMING</h3>
      </div>
  </div>

  
<%= render 'components/gallery'%>