<div class="container">
    <div class="row p-3 mt-5 faq-section">
        <h2>What is CFS (Chambers for Sport)?</h2>
        <p class="lead py-2 text-white">
            CFS is the company created by Dwain Chambers in 2009.
            CFS is all about developing athletics skills through sharing his international and national competition experience and expertise. CFS demonstrates how determination and self-belief can overcome obstacles that everyone faces in different ways every day.
        </p>
    </div>
    <div class="row p-3 mt-5 faq-section">
        <h2>What does CFS do?</h2>
        <p class="lead py-2 text-white">
            The starting point is understanding who you are, what is important to you.
            This enables you to move towards being the best you can be by developing strength, confidence and resilience. Athletics is used to achieve this, and CFS is a safe and supportive environment. CFS has the freedom to organise live sporting events, lectures, coaching courses, personal/ 1 on 1 or group training, educational tutorials and speaking engagements
        </p>
    </div>
    <div class="row p-3 mt-5">
       <%= image_tag "outside-training-01.jpg" %>
    </div>
    <div class="row p-3 mt-5 faq-section">
        <h2>Why did you start CFS?</h2>
        <p class="lead py-2 text-white">
            I am not an expert on life but there is one thing I have learnt and that is to go with what you feel is right.  Competing on an international stage for over three decades and representing my country has been the life and soul of my running career to date, however nothing could have prepared me for what life would be like post competition.
            Initially I was quite dismissive of coaching as I wasn’t sure how my experiences of exhilarating highs and bitter disappointments could be harnessed. After the right support and encouragement from family and friends, I decided to study to be an athletics and speed coach where I could share with people my love for sport, but more importantly, demonstrate how determination and passion could help you move on. After all, without mistakes, you cannot learn, and without learning you cannot develop and succeed. It is a simple but powerful life lesson, that I want to embody and use to inspire young people and aspiring athletes.
        </p>
    </div>
    <div class="row p-3 mt-5 faq-section">
        <h2>Why is your company called Chambers for Sport?</h2>
        <p class="lead py-2 text-white">
            My personal life was enriched by becoming a husband and father of four. Of course that has brought a whole new dimension to my expectations and experiences. I got to feel total unconditional love and the ability of just being a little more patient and enjoying important moments. This gave me the impetus to use my surname to create a brand that supports second chances to learn, develop and explore new opportunities with the right support.
        </p>
    </div>
    <div class="row p-3 mt-5 faq-section">
        <h2>What do the wings represent?</h2>
        <p class="lead py-2 text-white">
            The wings represent flight, and the freedom to be yourself.
        </p>
    </div>
    <hr/>
</div>