<header class="primary-header">
  <%= image_tag "home-img.png", class:"primary-header__image" %>
  <h1 class="primary-header__title">Chambers for sport</h1>
</header>
<section>
  <div class="row m-2">
    <div class="col-md-6 p-2">
      <%= image_tag "feature-img.jpeg", class:"section__img--image img-fluid" %>
    </div>
    <div class="col-md-6 my-auto p-2">
      <h2 class="feature__title">CHAMBERS FOR SPORT</h2>
      <p class="breakAll">Chambers For Sport (CFS) is the company created by Dwain Chambers in 2009.<br/>
      CFS is all about developing athletics skills through sharing his international and national competition experience and expertise.<br/>
      CFS demonstrates how determination and self-belief can overcome obstacles that everyone faces in different ways every day.</p>
      <br/>
      <%= link_to "Learn more", root_path, class:"section__text--link" %>
    </div>
  </div>
</section>
