<%= render 'layouts/hero'%>
<%= render 'components/sections'%>
      <!-- Call to action -->
      <div class="row justify-content-center pt-5">
        <div class="col-lg-12">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <!-- Title -->
              <h3 class="h2 text-white mb-1">Brilliant solutions for your ideas</h3>
              <!-- Text -->
              <p class="lead mb-0 text-white opacity-8">
                Build modern looking websites fast and easy using Quick.
              </p>
            </div>
            <div class="col-lg-5 text-lg-end mt-4 mt-lg-0">
              <div class="mx-n2">
                <a href="/dcpa" class="btn btn-light shadow-sm mx-2 px-lg-8">
                  Learn more
                </a>
                <a href="/contact" class="btn bg-red-700 shadow-sm mx-2 px-lg-8 text-white">
                  Get started
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>