<style>
	.login-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100vh;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.user, .coach{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:50vw;
		height: 100vh;
		text-transform: uppercase;
		font-size: 6rem;
	}

	.user{
		/* background-image: url("https://images.unsplash.com/photo-1474546652694-a33dd8161d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1484&q=80");
		background-size: cover;
		background-position: center; */
		color: white;
	}

	.coach{
		/* background-image: url("https://www.chambersforsport.com/images/feature.jpeg");
		background-size: cover;
		background-position: center; */
	}

	@media screen and (max-width: 768px){
		.user, .coach{
			width: 100vw;
		}
	}
</style>

<div class="login-container">
	<div class="user bg-stone-800">
		<h1>Student access</h1>
		<%= button_to "Enter", new_user_session_path, method: :get %>
	</div>
	<div class="coach bg-red-800">
		<h1>Coach access</h1>
		<%= button_to "Enter", new_coach_session_path, method: :get %>
	</div>
</div>