<div class="centerme">
<%= image_tag "Chambersforsport_logoWhite-01.png", class:"logocenter" %>
  <h1 class="font-bold text-4xl text-center">Thank you for contacting us</h1>
  <p> We will get back to you as soon as possible. </p>
</div>
