<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Name: <%= @name %><br>
    Email: <%= @email %><br>
    Phone Number: <%= @phone %><br>
    Message: <%= @message %>
  </p>
</body>
</html>