.img-circle{
    border-radius: 50% !important;
    height: 150px !important;
    width: 150px!important;
    object-fit: cover !important;
}


.pagination a,
.pagination em,
.pagination span {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  margin: 0 0.2rem;
  height: 2rem; /* h-8 */
  min-width: 2rem; /* w-8 */
  justify-content: center;
  color: #718096; /* text-gray-500 */
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow */
  border: 1px solid rgba(67, 90, 111, 0.14); /* dark:border-gray-800 */
  overflow: hidden; /* Add this line to prevent text overflow */
}


  .pagination a:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
  .pagination span:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
  .pagination em:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

  .pagination em{
    background-color : #e5e5e5;
  }

  .dashbox{
    background-image: url('https://img.freepik.com/free-photo/closeup-texture-running-track-stadium_169016-17143.jpg?w=1380&t=st=1693986673~exp=1693987273~hmac=117d1d531b76ab2bda1d2660910464a0425417101afd78c5a06a254d1d8167a1');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 200%;
    color:#e5e5e5;
  }

  .workout-background {
    background-image: url('https://img.freepik.com/free-photo/man-runner-stretching-legs-preparing-run-training-stadium-tracks-doing-warm-up_155003-3160.jpg?w=1380&t=st=1693986181~exp=1693986781~hmac=80961ebd1287fbe7d6873f687148b2c3c76dd1997cd91fe7ae66864b5a30db0f');
    background-position-y: 250%;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; 
    position: relative;
  }
  
  .workout-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay appears on top of the background image */
  }
  
  .workout-title {
    position: relative; /* Ensure the title appears on top of the overlay */
    z-index: 2; /* Place the title above the overlay */
    color: white; /* Set the text color to white or any desired color */
    font-size: 4rem;
  }