<nav class="main_nav">
    <div class="main_nav_logo">
        <%= image_tag "Chambersforsport_logoWhite-01.png", class:"logo" %>
    </div>

    <div class="main_nav__list">
        <ul>
            <li class="nav_li"><a href="#">Home</a></li>
            <li class="nav_li"><a href="#">About</a></li>
            <li class="nav_li"><a href="#">Services</a></li>
            <li class="nav_li"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="nav_btn">
    </div>
</nav>