<div class="" data-controller="hello">
  <div class="px-6 pt-6 lg:px-8">
    <nav class="flex items-center justify-between" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Chambers For Sport</span>
          <%= image_tag "Chambersforsport_logoWhite-01.png" ,class:"logo" %>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" 
         data-action="click->hello#toggleNavbar" data-hello-target="burger">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/cfs" class="text-red-600 font-bold leading-6 menu-item">CFS</a>

        <a href="/camps" class="text-red-600 font-bold leading-6 menu-item">CAMPS</a>

        <a href="/dcpa" class="text-red-600 font-bold leading-6 menu-item">DCPA</a>

        <a href="/groups" class="text-red-600 font-bold leading-6 menu-item">GROUPS</a>

        <a href="/dwain" class="text-red-600 font-bold leading-6 menu-item">DWAIN</a>

        <a href="/talks" class="text-red-600 font-bold leading-6 menu-item">TALKS</a>

        <a href="/contact" class="text-red-600 font-bold leading-6 menu-item">CONTACT</a>

      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="https://store.chambersforsport.com" class="text-white font-bold leading-6 " taget="_blank">STORE <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div role="dialog" aria-modal="true">
      <div focus="true" class="fixed inset-0 z-10 overflow-y-auto px-6 py-6 bg-zinc-900 lg:hidden is-active" data-hello-target="navbar">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Chambers For Sport</span>
            <%= image_tag "Chambersforsport_logoWhite-01.png" ,class:"logo" %>
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" data-action="click->hello#closeNavbar" data-hello-target="navbar">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/cfs" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">CFS</a>

              <a href="/camps" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">CAMPS</a>

              <a href="/dcpa" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">DCPA</a>

              <a href="/dwain" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">DWAIN</a>

              <a href="/talks" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">TALKS</a>

              <a href="/contact" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7  hover:bg-gray-400/10">CONTACT</a>
            </div>
            <div class="py-6">
              <a href="https://store.chambersforsport.com" target="_blank" class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6  hover:bg-gray-400/10">STORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
